/*
#67bfab celeste flor
#01a67d turquesa flor
#cccb6c amarillo flor
#5f422f marron flor
#fdf7bd amarillo fondo
c83232 rojo
*/

/*.btn-compra{
  background: transparent !important;
  color: #01a67d !important;
  border: 1px solid #01a67d !important;
}*/

img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.logo{
  width: 4rem;
}

.lora{
  font-family: 'Lora', serif;
  letter-spacing: 0.7px;
}


body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  background-image: url('/images/images.jpg');
  background-size: 300px;
  background-repeat: repeat;
}

a{
  color: #01a67d;
}

a:hover{
  color: #5f422f !important;
}

.fondo-registro{
  background: rgba(255, 255, 255, 0.9);
  margin-top: 30%;
}

.item-carrito{
  border-top: 1px solid #cccb6c;
}

.item-carrito i{
  color: #5f422f;
}

.item-carrito img{
  height: 125px;
}

.btn-compra{
  color: #5f422f;
  border: 2px solid #5f422f;
  font-weight: bold;
}

.btn-compra{
  color: #5f422f;
  border: 2px solid #5f422f;
  font-weight: bold;
}

.btn-compra:hover{
  color: white !important;
  background: #5f422f;
  border: 2px solid white !important;
}

.principal{
  background: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
}

/*footer {
  position: absolute;
  bottom: 0;
}*/

.pie{
  height: 180px;
  background: rgba(255, 255, 255, 0.9);
}

.linea-footer{
  border-top: 2px solid #ccbc6c;
}

#menu-categoria .dropdown-menu {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

#menu-categoria .dropdown-hover:hover .dropdown-menu {
	display:block;
}

#menu-categoria a.navlink {
  font-weight: bold;
}

.py-4 {
	padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#banner .carousel-item img{
	height: 500px;
	max-height: 500px;
	object-position: top;
	object-fit: cover;
}

.borde-bot{
  border-bottom:1px solid #ccbc6c;
}

.titulo-principal{
  color:#5f422f;
  font-family: 'Lora', serif;
  letter-spacing: 5px;
}

#menu-categoria .dropdown-menu a{
  color: #5f422f;
}

#menu-categoria .dropdown-menu a:hover{
  color: #cccb6c !important;
  font-weight: bold;
  background: rgba(253, 247, 189, 0.1);
}

.card-producto .card-title{
  color: #5f422f !important;
  text-transform: capitalize;
  border-bottom: 1px dotted #01a67d;
  padding-bottom: 0.25rem;
}

.card-producto .precio{
  background-color: transparent;
  color: #67bfab !important;
  font-weight: bold;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.audiowide{
  font-family: 'audiowide', cursive;
}

.secciones .card-title{
  font-size: 1.25rem;
}

.secciones .precio{
  font-size: 1rem;
}

                                  /*VISTA PRODUCTOS INDIVIDUALMENTE*/

.producto img.foto-prod{
  max-width: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 10%;
  border: 1px solid#67bfab;
}

.precio{
  display:inline-block;
  border-radius:2px;
  padding:4px;
  background-color: #01a67d;
  color:white;
}

.btn-anadir{
  color: #5f422f;
  background-color: #fdf7bd;
  border: 1px solid #5f422f;
}

.btn:hover{
  color: #01a67d;
  font-weight: bold;
  color: #04a67d;
  border-color: #04a67d;
}
}

.producto .descripcion-prod{
  font-size: 1.15rem;
}

.producto .descripcion-prod h4{
  border-bottom: 1px solid #5f422f;
  font-weight: bold;
  font-style: italic;
}

.descripcion-prod .fas{
  color: #67bfab;
}

.marca-sub{
  border-bottom: 2px solid #5f422f;
}


                                  /*PRODUCTOS DESTACADOS*/

.destacados{
  position: relative;
  height: 30rem;
  background: rgba(204, 203, 108);
  border:3px solid #fdf7bd;
  transition: all 1s ease 0s;
}

.destacados:hover h3{
  background: rgb(204, 203, 108);
  transition: all 1s ease 0s;
}

.destacados h3{
  position: absolute;
  left: -50px;
  width: 130%;
  font-family: 'audiowide', cursive;
  text-transform: uppercase;
  /*background: rgba(204, 203, 108, 0.8);*/
  text-shadow: -1px 0 #fdf7bd, 0 1px #fdf7bd, 1px 0 #fdf7bd, 0 -1px #fdf7bd;
  transform: rotate(13deg);
  bottom: 100px;
  border-radius: 10px;
  font-size: 2.3rem;
  color: #5f422f;
}

.destacados .dest-der{
  transform: rotate(-13deg);
  top: 100px;
  bottom: auto;
  right: 0;
}

.img-dest{
  height: 100%;
  width: 100%;
}

.img-dest img{
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}

/*CARRUSELES DE LA PÁGINA PRINCIPAL*/


.carousel-multi-item.v-2.product-carousel .carousel-inner .carousel-item.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.carousel-multi-item.v-2.product-carousel .carousel-item-right.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-next {
  -webkit-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%); }
.carousel-multi-item.v-2.product-carousel .carousel-item-left.active,
.carousel-multi-item.v-2.product-carousel .carousel-item-prev {
  -webkit-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  transform: translateX(-20%); }
.carousel-multi-item.v-2.product-carousel .carousel-item-right,
.carousel-multi-item.v-2.product-carousel .carousel-item-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }
.carousel-multi-item.v-2.product-carousel *, .carousel-multi-item.v-2.product-carousel ::after, .carousel-multi-item.v-2.product-carousel ::before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
.fuchsia-rose-text {
  color: #db0075;
}
.aqua-sky-text {
  color: #5cc6c3;
}
.mimosa-text {
  color: #F0C05A;
}
.list-inline-item .fas, .list-inline-item .far {
  font-size: .8rem;
}
.chili-pepper-text {
  color: #9B1B30;
}

.carousel-multi-item .controls-top{
  position:absolute;
  right: 0;
  top: 0;
}

.carousel-multi-item .controls-top .btn-floating:hover {
  background: #5f422f;
  color:white !important;
}

.carousel-multi-item .controls-top .btn-floating {
  color: #5f422f;
  background: transparent;
}

.carousel-multi-item .carousel-indicators li {
  height: .75rem;
  width: .75rem;
  max-width: .75rem;
  min-height: .75rem;
  background-color: #5cc6c3;
}
.carousel-multi-item .carousel-indicators .active {
  height: 1rem;
  width: 1rem;
  max-width: 1rem;
  background-color: #5cc6c3;
}

.carousel-multi-item .carousel-indicators {
  margin-bottom: -1rem;
}

.card-img-top {
	height: 183px;
	object-fit: cover;
	object-position: center;
}

.card-producto:hover {
	box-shadow: 0 0.1rem 0.25rem #01a67d;
  transform:scale(1.1);
  transition: all 0.5s ease 0s;
  background: white;
  z-index: 1000;
}

.card-producto:hover .card-title {
  border:none;
}

.card-producto {
  border:none;
  transition: all .5s ease 0s;
  background: transparent;
}

.card-producto:hover a {
	text-decoration: none;
}

.secciones .card-producto .card-img-top{
  height: 250px;
}

.oferta {
	text-decoration: line-through;
  color: #c83232;
}

.navbar-registro{
  z-index: 1030;
}

#menu-categoria .dropdown-menu{
  width: 30rem;
}

.view.overlay{
  /*height: 183px;*/
}

@media (max-width: 480px){
  .carousel-multi-item .controls-top{
    position: relative;
    display:block;
    margin-bottom: 0.5rem;
  }

  .destacados h3{
    width: 100%;
  }

}